th {
	cursor: pointer;
}

body {
	padding: 5px;
}

.table-section {
	text-align: center;
}
input {
	margin-bottom: 10px;
}

button {
	display: none;
}

@media (min-width: 768px) {
	body {
	display: flex;
}
.table-section {
	width: 50%;
}

.chart-section {
	width: 50%;
	margin-top: 66px;
}
}


@media (min-width: 1024px) { 

}